:root {
    --bs-primary: mediumaquamarine; 
    /*This is getting replaced, but nothing is reading bs-primary and is instead using some hardcoded rgb...*/
    --bs-secondary: green;
}

.theme-light-accent-1 {
    color: mediumaquamarine;
}
.my-image-container {
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center
}

.my-image-fluid {
    object-fit: cover; object-position: center; height: 100%; width:100%
}

.my-carousel-sizing {
    width: 100%;
    height: 500px;
}

.my-fonts {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.project-card {
    width: 100% !important; 
}

@media (min-width: 992px){
    .d-lg-block-flex {
        display: flex!important;
    }
}